beautifulsoup4>=4.11.1
blinker>=1.4
connexion>=2.13.1
coverage>=6.3.3
dotmap>=1.3.30
Flask>=2.1.2
Flask_Admin>=1.6.0
Flask_Cors>=3.0.10
flask_restful_swagger_2>=0.35
Flask_SQLAlchemy>=2.5.1
flask_swagger_ui>=3.36.0
Jinja2>=3.1.2
jinja_markdown>=1.210911
jsonschema>=4.5.1
m2r2>=0.3.2
Markdown>=3.3.7
matplotlib>=3.5.2
mergedeep>=1.3.4
numpy>=1.24.2
paho_mqtt>=1.6.1
pandas>=1.4.2
pipreqs>=0.4.13
psutil>=5.9.0
py_linq>=1.4.0
pydicom>=2.3.0
pyflakes>=2.4.0
Pygments>=2.12.0
pylinac>=3.0.1
pylint>=2.13.8
pynetdicom>=2.0.2
pyodbc>=4.0.32
pyrql>=0.6.2
python_tds>=1.11.0
Requests>=2.28.2
rqlalchemy>=0.4.5
Rtree>=1.0.0
scikit_image>=0.19.2
setuptools>=65.6.3
sphinx_rtd_theme>=1.0.0
spyder>=5.3.0
spyder_kernels>=2.3.0
SQLAlchemy>=1.4.36
tinycss2>=1.2.1
weasyprint>=58.1
